{% block content %}
{% load static %}
{% csrf_token %}
<link href="/static/AlphaDHome/css/exam.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://3Dmol.org/build/3Dmol-min.js"></script>
<script src="https://3Dmol.org/build/3Dmol.ui-min.js"></script>
<div class="search-result" style="display: none;">
    
    <body>
        <img
          src="static/AlphaDHome/images/alphad-background.svg"
          class="background"
        />
        <img
          src="static/AlphaDHome/images/alphad-logo.png"
          class="logo"
        />
        <div class="hero">
          <div style="display: flex; gap: 50px; flex-direction: column">
            <div class="description">YOU SEARCHED</div>
            <div class="query"></div>
          </div>
          <div
            style="
              display: flex;
              gap: 16px;
              flex-direction: column;
              align-items: center;
            "
          >
            <div class="description" style="letter-spacing: 0px">
              SCROLL TO DISCOVER
            </div>
            <img
              src="static/AlphaDHome/images/scroll.svg"
              width="30px"
            />
          </div>
        </div>
        <div class="info">
          <div class="overview">
            <img src="static/AlphaDHome/images/divider.svg" width="40%"/>
            <div class="display: flex; flex-direction: column; justify-content:center;">
              <h2>Overview</h2>
              <p style="margin-top: 25px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id semper risus in hendrerit gravida. Amet tellus cras adipiscing enim eu. In mollis nunc sed id semper. <br><br>
    
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br><br>
                
                Sed odio. Dapibus ultrices in iaculis nunc sed augue lacus viverra vitae. Convallis aenean et tortor at risus .Id semper risus in hendrerit gravida. Amet tellus cras adi</p>
            </div>
          </div>
          <div class="proteins">
            <img src="static/AlphaDHome/images/divider.svg" width="40%"/>
            <div class="display: flex; flex-direction: column; justify-content:center;">
                <div class="description">ALPHAFOLD</div>
                <h2 style="margin-top: 20px;">Relevant Proteins</h2>
            </div>
            <div class="large-container">
                <div class="medium-container">
                  <div class="small-container">
                    <div class="h3-desc-frame">
                      <p class="species">Homo Sapiens</p>
                      <h3>Hemoglobin subunit epsilon</h3>
                    </div>
                  </div>
                  <div class="small-container">
                    <div class="h3-desc-frame">
                      <h3>Description</h3>
                      <p>Generated by Alphafold</p>
                      <p class="parag" style="color: #d3d3d3; font-size: 15px">
                        Sed odio. Dapibus ultrices in iaculis nunc sed augue lacus
                        viverra vitae. Convallis aenean et tortor at risus .Id semper
                        risus in hendrerit gravida. Amet tellus cras adi
                      </p>
                    </div>
                  </div>
                  <div class="small-container" style="flex-direction: row">
                    <div class="micro-container">
                      <p>sequence length</p>
                      <div
                        style="
                          display: flex;
                          align-items: flex-end;
                          justify-content: flex-start;
                          width: 100%;
                        "
                      >
                        <p
                          style="
                            font-size: 30px;
                            color: #fff;
                            font-weight: 600;
                            margin: 0;
                          "
                        >
                          78
                        </p>
                        <p style="margin-bottom: 4px; margin-left: -8px">AAs</p>
                      </div>
                    </div>
                    <div
                      class="micro-container"
                      style="
                        align-items: center;
                        justify-content: center;
                        height: 56.5px;
                      "
                    >
                      <h3>copy</h3>
                    </div>
                  </div>
                </div>
                <div class="medium-container">
                  <div class="small-container">
                    <div class="top">
                      <div class="icon-uniprot">
                        <img
                          src="static/AlphaDHome/images/stack-icon.svg"
                          width="30px"
                        />
                        <div class="uniprot-info">
                          <div class="uniprot">UniProtKB ID</div>
                          <div class="uniprot-id">P69905</div>
                        </div>
                      </div>
                      <img
                        src="static/AlphaDHome/images/vertical-dots.svg"
                        height="20px"
                      />
                    </div>
                  </div>
                  <div class="small-container">
                    <div class="h3-desc-frame">
                      <h3>3-D Model</h3>
                      <p>Generated by Alphafold</p>
                    </div>  
                    <div id="viewer-container-1" class="mol-container"></div>
                  </div>
                  <div class="small-container">
                      <a class="micro-container" style="flex-direction: row; gap: 5px;">
                          <h3>Alphafold</h3>
                          <img src="static/AlphaDHome/images/leave-page.svg">
                      </a>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <!-- <div id="container-01" class="mol-container"></div> -->
        <!-- <div id="container-02" class="mol-container"></div> -->
      </body>
      
</div>
<script>
    // Get a reference to the container element
    let container1 = document.getElementById("viewer-container-1");
  
    // Create a 3Dmol.js viewer
    let viewer1 = $3Dmol.createViewer(container1, {
      backgroundColor: "white",
      width: "100%", // Set the width to be 100% of the container
      height: "100%",
});
  
    function setPdbUriInSecondScript(pdbUrl) {
    let pdbUri = pdbUrl;  
    jQuery.ajax(pdbUri, {
      success: function (data) {
        // Add the PDB model to the viewer
        viewer1.addModel(data, "pdb");
  
        // Style the atoms (e.g., color)
        viewer1.setStyle({}, { cartoon: { color: "spectrum" } });
  
        // Set the initial view
        viewer1.zoomTo();
        viewer1.render();
      },
      error: function (hdr, status, err) {
        console.error("Failed to load PDB " + pdbUri + ": " + err);
      },
    });
    }  
    // Fetch the PDB file from the URL
    
  </script>
<div class="home">
    
        <!-- Include 3Dmol.js and 3Dmol.ui.js libraries -->
        
        <link
          rel="stylesheet"
          type="text/css"
          href="static/AlphaDHome/css/search-result.css"
        />
        <link
          rel="stylesheet"
          type="text/css"
          href="static/AlphaDHome/css/global.css"
        />
        <link rel="stylesheet" type="text/css"
        href="static/AlphaDHome/css/homie.css"/>
      
        <form class="message-form">
            <div class="input-wrapper">
              <i style="position: absolute; left: 18px; top: 18px; text-size: 50px; color: white;" class="fa-solid fa-magnifying-glass"></i>
              <input type="text" class="form-control message-input" placeholder="Disease full name">
            </div>
            <button type="submit" id="showSearchButton">Send</button>
          </form>

</div>
  <!-- Display data from the API -->

<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const messageForm = document.querySelector('.message-form');
    const messageInput = document.querySelector('.message-input');
    const uniProtId = document.querySelector('.uniprot-id');
    const parag = document.querySelector('.parag');
    const searched = document.querySelector(".query");
    messageForm.addEventListener('submit', (e) => {
        e.preventDefault();

        const message = messageInput.value.trim()
        searched.textContent = message;
        console.log('Message:', message)
        if (message.length === 0) {
            return;
        }
    fetch('', {
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded',
        'X-CSRFToken': csrftoken
        },
        body: new URLSearchParams({
            'csrfmiddlewaretoken': csrftoken,
            'message': message
        })
    })
    .then(response => response.json())
    .then(data => {
        const response = data.response;
        console.log(response);
        const pdbUrl_response = data.pdbUrl_response;
        const desc = data.description;
        parag.textContent = desc;
        let success = false
        for (var i = 0; i < pdbUrl_response.length && !success; i++){
            const pdbUrlResponse = data.pdbUrl_response[i];
            uniProtId.textContent = data.pdbUrl_response[i]; //
            const apiUrl = `https://alphafold.com/api/prediction/${pdbUrlResponse}?key=AIzaSyCeurAJz7ZGjPQUtEaerUkBZ3TaBkXrY94`
            fetchD(apiUrl)
                .then(result => {
                    if (result.status >= 200 && result.status <= 299) {
                    success = true; 
                    // Set the success flag to true
                    // Handle the successful response here
                    }
                })
                .catch(error => {
                console.error(`Error fetching data for ${pdbUrlResponse}: ${error}`);
                // Handle the error as needed
                });
        }
         // Assuming it's the first element
        

        
    });
});

    async function fetchD(url) {
        const data = await fetch(url);
        const result = await data.json();
        console.log(result[0].pdbUrl);
        setPdbUriInSecondScript(result[0].pdbUrl);
        return result[0].pdbUrl;
    }
    
</script>





<div class="loader" style="display: none;">
    <div class="center">
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
    </div>
    <style>
      body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .center {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .wave {
        width: 5px;
        height: 100px;
        background: linear-gradient(45deg, cyan, #fff);
        margin: 10px;
        animation: wave 1s linear infinite;
        border-radius: 20px;
      }
      .wave:nth-child(2) {
        animation-delay: 0.1s;
      }
      .wave:nth-child(3) {
        animation-delay: 0.2s;
      }
      .wave:nth-child(4) {
        animation-delay: 0.3s;
      }
      .wave:nth-child(5) {
        animation-delay: 0.4s;
      }
      .wave:nth-child(6) {
        animation-delay: 0.5s;
      }
      .wave:nth-child(7) {
        animation-delay: 0.6s;
      }
      .wave:nth-child(8) {
        animation-delay: 0.7s;
      }
      .wave:nth-child(9) {
        animation-delay: 0.8s;
      }
      .wave:nth-child(10) {
        animation-delay: 0.9s;
      }
    
      @keyframes wave {
        0% {
          transform: scale(0);
        }
        50% {
          transform: scale(1);
        }
        100% {
          transform: scale(0);
        }
      }
    </style>
    <script>
        document.getElementById("showSearchButton").addEventListener("click", function () {
            var homeDiv = document.querySelector(".home");
            var searchResultDiv = document.querySelector(".search-result");
            var loaderDiv = document.querySelector(".loader");
    
            // Hide homeDiv and searchResultDiv
            homeDiv.style.display = "none";
            searchResultDiv.style.display = "none";
    
            // Show loaderDiv
            loaderDiv.style.display = "block";
    
            // After 10 seconds, hide loaderDiv and show searchResultDiv
            setTimeout(function () {
                loaderDiv.style.display = "none";
                searchResultDiv.style.display = "block";
            }, 10000); // 10000 milliseconds = 10 seconds
        });
    </script>
{% endblock %}